.nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
    text-decoration: underline;
    padding-right: 10px;
    margin: 5px;
    .signin{
        margin-right: 10px;
    }
}